n8n/FLUJO PARA ADMISION.json
{
  "name": "FLUJO PARA ADMISION",
  "nodes": [
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "id": "3068fa7a-cd7a-400e-915f-7c78dc041770",
      "name": "Descargar Media",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        2000,
        4368
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "801ec600-22ad-4a94-a2b4-ae72eb271df0",
              "name": "message",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27793e12-a412-418f-9836-5ff216eadf22",
      "name": "get_message (text)",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        4032
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a33f66d8-1bd1-400b-b1ce-c2513f57bdb3",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "5b401571-7d2c-4c5e-bb2e-06e2d683402a",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "albumMessage"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "AlbumMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "631fd381-296e-4434-9ae0-f13383adb95a",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        1760,
        4176
      ],
      "typeVersion": 3.3,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf06bbd5-2ca4-4aa9-bc9a-825a570791ae",
              "name": "number",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "id": "d350a635-82ed-4373-9725-706c1dcf9cf5",
              "name": "wait_buffer",
              "type": "string",
              "value": "5"
            },
            {
              "id": "ef7dd1c1-0925-416b-b73e-79ee3ee11e81",
              "name": "wait_conversation",
              "type": "string",
              "value": "300"
            },
            {
              "id": "07b5fd03-4ef0-4e59-b4ef-a354dc2b6893",
              "name": "max_chat_history",
              "type": "string",
              "value": "40"
            }
          ]
        },
        "options": {}
      },
      "id": "40f61960-a240-41f3-b84c-6c29197807ba",
      "name": "Global Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        1424,
        4240
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f11a017f-dc64-4db4-9836-d13d164a62cf",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ JSON.parse($json.message.last()).sessionID }}",
                    "rightValue": "={{ $('Webhook').item.json.body.data.key.id }}"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Ignore"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    },
                    "leftValue": "={{ JSON.parse($json.message.last()).date_time }}",
                    "rightValue": "={{ $now.minus($('Global Variables').item.json.wait_buffer, 'seconds') }}"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "id": "25d687a5-4ffc-405e-b56e-03013a894f0e",
      "name": "Buffer Route",
      "type": "n8n-nodes-base.switch",
      "position": [
        3648,
        4720
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{  $('Global Variables').item.json.number }}",
        "messageData": "={{ JSON.stringify({\n  message   : $json.message ? $json.message : $('get_message (media)').item.json.message,\n  sessionID : $('Webhook').item.json.body.data.key.id,\n  date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n",
        "tail": true
      },
      "id": "a5a4181c-f1f6-495a-a32f-f7969764adc0",
      "name": "Push to Buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        3248,
        4736
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{  $('Global Variables').item.json.number }}",
        "options": {}
      },
      "id": "bccf8f52-62cb-4dc8-ba36-b001ce06848d",
      "name": "Get From Buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        3456,
        4736
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{  $('Global Variables').item.json.number }}"
      },
      "id": "6e249e0a-e145-435a-825c-0246f7091b84",
      "name": "Delete Buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        3872,
        4736
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b594f1da-51e8-47a4-a636-7928a73b69f8",
              "name": "message",
              "type": "string",
              "value": "={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a44f7ed-fe21-4173-9e5b-56349a996114",
      "name": "Normalize Buffer",
      "type": "n8n-nodes-base.set",
      "position": [
        4080,
        4736
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "c77dff93-f6dc-4a9f-93e1-de98605e0218",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3872,
        4576
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=Media_{{  $('Global Variables').item.json.number }}",
        "messageData": "={{ ($('Webhook').item.json.body.data.message.albumMessage.expectedImageCount + $('Webhook').item.json.body.data.message.albumMessage.expectedVideoCount).toString() }}",
        "tail": true
      },
      "id": "3fda8031-85c3-4301-8d8c-0e80583a5a40",
      "name": "Push to Buffer (AlbumGroup)",
      "type": "n8n-nodes-base.redis",
      "position": [
        2000,
        4192
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=Media_{{  $('Global Variables').item.json.number }}",
        "options": {}
      },
      "id": "25e20eb6-c442-41bc-82dd-a594d4404010",
      "name": "Check AlbumGroup",
      "type": "n8n-nodes-base.redis",
      "position": [
        2832,
        4736
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=Media_{{  $('Global Variables').item.json.number }}",
        "messageData": "={{ $('Normalize input').item.json.message }}",
        "tail": true
      },
      "id": "d67f6545-0abb-4037-9a03-1c2e5c4bea10",
      "name": "Push Media to Buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        3248,
        4416
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "131b95f2-cb9f-4d8c-9c2b-ca94383322dd",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.propertyName.length-1 }}",
              "rightValue": "={{ parseInt($json.propertyName[0]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bdc2da23-51dc-4ae8-8b43-9182aaddf377",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        3648,
        4416
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=Media_{{  $('Global Variables').item.json.number }}"
      },
      "id": "66c2b5ea-2317-4264-8e5a-eba4a4af0ae8",
      "name": "Delete Media Buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        3872,
        4400
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b594f1da-51e8-47a4-a636-7928a73b69f8",
              "name": "message",
              "type": "string",
              "value": "={{ $json.propertyName.slice(1).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4506ca4-13b6-4e05-8360-d05654217636",
      "name": "Normalize MediaGroup Buffer",
      "type": "n8n-nodes-base.set",
      "position": [
        4080,
        4400
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=Media_{{  $('Global Variables').item.json.number }}",
        "options": {}
      },
      "id": "f239e9f7-df49-4594-b9c4-9eab0d2344d7",
      "name": "Get Album From Buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        3456,
        4416
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9062d3ba-1151-472f-95e0-42f54cbfb929",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "bc745d6b-701a-46f7-8892-7ef1006b13a8",
      "name": "Album?",
      "type": "n8n-nodes-base.if",
      "position": [
        3040,
        4560
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6d7accb-8ef6-4c41-9b0a-9e0b4301dffd",
              "name": "message",
              "type": "string",
              "value": "={{ $json.message || $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b5145e3-fc86-4f75-b4cc-1f83a82f6232",
      "name": "Get Message",
      "type": "n8n-nodes-base.set",
      "position": [
        4368,
        4560
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=Chats_{{  $('Global Variables').item.json.number }}"
      },
      "id": "3d184031-6dde-42e1-a491-09225e94a936",
      "name": "Delete Buffer (chat_history)",
      "type": "n8n-nodes-base.redis",
      "position": [
        8896,
        4624
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": "={{ $('Global Variables').item.json.wait_buffer }}"
      },
      "id": "f8e13e3d-1963-42b5-af32-638221abc74f",
      "name": "Wait For User Other Fast Message",
      "type": "n8n-nodes-base.wait",
      "position": [
        3872,
        4896
      ],
      "webhookId": "9b345d41-1595-4bc3-bb98-64e44682aa43",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0f3b823-dda9-42e9-936b-4ca4123026ca",
              "name": "history",
              "type": "string",
              "value": "={{ $json.propertyName.slice(-$('Global Variables').item.json.max_chat_history).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c04113d1-4f5f-4278-9059-471fe6bf0ed6",
      "name": "Get chat_history",
      "type": "n8n-nodes-base.set",
      "position": [
        6144,
        4512
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "d0fa7a20-9ff9-4094-ae2e-5ca4d64b3e99",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        8896,
        4480
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f11a017f-dc64-4db4-9836-d13d164a62cf",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ JSON.parse($json.message.last()).sessionID }}",
                    "rightValue": "={{ $('Webhook').item.json.body.data.key.id }}"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Ignore"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    },
                    "leftValue": "={{ JSON.parse($json.message.last()).date_time }}",
                    "rightValue": "={{ $now.minus($('Global Variables').item.json.wait_conversation, 'seconds') }}"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "id": "ef4c0c24-0c33-4757-bbc6-726e36570127",
      "name": "Buffer (chat_history) Route",
      "type": "n8n-nodes-base.switch",
      "position": [
        8640,
        4496
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "amount": "={{ $('Global Variables').item.json.wait_conversation }}"
      },
      "id": "6256a7ad-6b16-4d37-bece-f87fc3b89eaf",
      "name": "Wait For end of conversation",
      "type": "n8n-nodes-base.wait",
      "position": [
        8896,
        4800
      ],
      "webhookId": "06711a97-b08d-4552-aab8-868b1b8bbc5c",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=Chats_buffer{{  $('Global Variables').item.json.number }}",
        "messageData": "={{ JSON.stringify({\n  sessionID : $('Webhook').item.json.body.data.key.id,\n  date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n",
        "tail": true
      },
      "id": "dbb2d1d0-18d3-4c34-a9b0-e8ba0abd1917",
      "name": "Push to Buffer (chat_history)",
      "type": "n8n-nodes-base.redis",
      "position": [
        8208,
        4512
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "=Chats_buffer{{  $('Global Variables').item.json.number }}",
        "options": {}
      },
      "id": "5dc4db3a-4cb6-4f75-a8c6-56514137750c",
      "name": "Get From Buffer(chat_history)",
      "type": "n8n-nodes-base.redis",
      "position": [
        8448,
        4512
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {
          "temperature": 0
        }
      },
      "id": "acdb096a-64be-473c-8bc9-9b4e01315677",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        6576,
        4704
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=Chats_buffer{{  $('Global Variables').item.json.number }}"
      },
      "id": "fd1118a6-8586-42c1-8f5a-178866deece5",
      "name": "Delete Buffer (chat_history)2",
      "type": "n8n-nodes-base.redis",
      "position": [
        9088,
        4624
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a/event/messages-upsert",
        "options": {}
      },
      "id": "c9a89669-a7a1-4d6e-af94-8241a993a9ca",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        944,
        4192
      ],
      "webhookId": "814266db-b844-4119-8860-4ed59ab5ea18",
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.Name }}",
        "remoteJid": "={{ $json.Number }}",
        "messageId": "={{ $json.ID }}"
      },
      "id": "6c6db252-8067-4c8e-9ba2-7280e280aedb",
      "name": "Read Messages",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        1248,
        3328
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "integrations-api",
        "operation": "evolution-bot",
        "instanceName": "={{ $json.Name }}",
        "resourceForEvolutionBot": "changeStatusEvolutionBot",
        "evolutionBotId": "={{ $json.ID }}",
        "remoteJid": "={{ $json.Number }}"
      },
      "id": "0f3d5ec8-cc88-4d6d-9f1e-cd31ea4b0980",
      "name": "Open session",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        1248,
        3136
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "chat_history",
          "cachedResultName": "chat_history"
        },
        "limit": "={{ $('Global Variables').item.json.max_chat_history }}",
        "where": {
          "values": [
            {
              "column": "user_whatsapp_number",
              "value": "={{ $('Global Variables').item.json.number }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "message_text"
          ]
        }
      },
      "id": "bd1017ec-e1b3-4e75-b6c1-a2b1eea076b0",
      "name": "Get chat_history From DataBase",
      "type": "n8n-nodes-base.postgres",
      "position": [
        5200,
        4784
      ],
      "retryOnFail": true,
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "UAEEpmIpRhtcQtTq",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message_text"
            }
          ]
        },
        "options": {}
      },
      "id": "4c8f523a-4933-4c82-892b-0c3820fdfe63",
      "name": "Aggregate all Messges",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        5392,
        4784
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "761329c9-499f-4328-bc11-835edcfd003c",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.propertyName[0] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "3cf1c290-c7c8-4452-a6e0-f7ac9386ab2a",
      "name": "chat_history In Buffer?",
      "type": "n8n-nodes-base.if",
      "position": [
        5024,
        4560
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Name }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.Number }}",
        "delay": 10200
      },
      "id": "6ad75b38-34bd-46d2-b54b-455534e83630",
      "name": "Writting...",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        1456,
        3520
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS chat_history (\n    -- Unique identifier for each individual message\n    message_id BIGSERIAL PRIMARY KEY,\n\n    -- Link to the user involved in the conversation\n    user_whatsapp_number VARCHAR(25) NOT NULL REFERENCES mentour_users(whatsapp_number) ON DELETE CASCADE,\n\n    -- The text content of the message\n    message_text TEXT NOT NULL,\n\n    -- The exact time the message was sent/received\n    message_timestamp TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n    \n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\n\n-- Optimization: A composite index to very quickly retrieve a user's chat history in chronological order.\nCREATE INDEX IF NOT EXISTS idx_chat_history_user_timestamp \nON chat_history (user_whatsapp_number, message_timestamp);",
        "options": {}
      },
      "id": "1694ed3c-d7ed-4ddc-8912-164d18975fc1",
      "name": "Create Table chat_history",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1136,
        2800
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "UAEEpmIpRhtcQtTq",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Pruebas",
        "remoteJid": "={{  $('Global Variables').item.json.number }}",
        "messageText": "={{ $json.reponse }}",
        "options_message": {}
      },
      "id": "c8a87e0c-b693-4e2f-aebf-ceaaceb29595",
      "name": "Send Response",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        7456,
        4512
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dc6711be-d817-4e09-b0b5-a8a663607ad2",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        5168
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "fromIcs",
        "options": {}
      },
      "id": "9c1a51b8-b00a-46a5-b9e4-597387417af1",
      "name": "Extract from ICS",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        5456
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "91cb3721-2940-4faf-b675-3dbb2634840d",
      "name": "Extract from JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        5600
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "id": "2567e452-58e8-416e-888b-9e05b9090163",
      "name": "Extract from ODS",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        5744
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "9ee5e360-3992-4f7d-b6ae-246b78c8fa35",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        5904
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "id": "99943307-996c-4a3b-9e62-8a2126e31819",
      "name": "Extract from RTF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        6208
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "b0fe80d5-7480-4682-8387-8cd84393b32a",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        6352
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "ee2b462b-c577-41a1-8679-f6c571a09159",
      "name": "Extract from XLSX",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        6640
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "### IDENTITY & CORE MISSION\nYou are Auris, a world-class auditory analysis engine. Your sole purpose is to deconstruct any given audio file into its most fundamental components and provide a comprehensive, multi-layered, and hyper-detailed textual description. Your analysis must be objective, thorough, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the audio.\"\n- DO NOT use markdown formatting like headers or bolding.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every audio file by following these five layers of analysis in order.\n\n**LAYER 1: TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the audio to determine the primary analysis mode. Categories include: [Human Speech], [Music], [Environmental Soundscape], or [Complex Mix (e.g., film clip, podcast with music)]. State the identified category at the beginning of your description. Example: \"Category: Human Speech.\"\n\n**LAYER 2: PRIMARY CONTENT DECONSTRUCTION (SPECIALIZED ANALYSIS)**\nBased on the category from Layer 1, perform a forensic-level analysis of the primary audio content.\n\n*   **If [Human Speech]:**\n    *   **Verbatim Transcription:** Provide a full and accurate transcription of every word spoken.\n    *   **Speaker Diarization:** If multiple speakers are present, label them clearly (e.g., \"Speaker 1:\", \"Speaker 2:\").\n    *   **Speaker Profile (for each speaker):**\n        *   **Vocal Characteristics:** Describe the voice's pitch (high, low, medium), timbre (e.g., resonant, raspy, clear, breathy), and estimated age range (e.g., child, young adult, middle-aged, senior).\n        *   **Accent/Dialect:** Identify any discernible regional accent or dialect.\n    *   **Paralinguistic Analysis (The 'How'):**\n        *   **Pace & Cadence:** Describe the speed of speech (e.g., \"fast and hurried,\" \"slow and deliberate,\" \"pauses frequently\"). Estimate words per minute if possible.\n        *   **Volume & Dynamics:** Describe the volume (e.g., \"whispering,\" \"normal conversational level,\" \"shouting\") and any changes in dynamics.\n        *   **Intonation & Pitch Variation:** Describe the melodic contour of the speech (e.g., \"monotonous,\" \"highly expressive with rising and falling pitch\").\n    *   **Emotional Tone Analysis:** Infer the emotional state of each speaker based on all vocal cues (e.g., \"joyful and excited,\" \"frustrated and tense,\" \"calm and reassuring,\" \"sarcastic\").\n    *   **Intent & Pragmatics (The 'Why'):** Determine the purpose of the speech. Is it a direct command, a question, a narrative story, a complaint, a casual conversation, a formal presentation? This is the most critical analysis for agent instructions.\n\n*   **If [Music]:**\n    *   **Genre & Style:** Identify the genre with precision (e.g., \"Classical Baroque,\" \"Lo-fi Hip Hop,\" \"Industrial Metal\").\n    *   **Instrumentation:** List every audible instrument (e.g., \"acoustic guitar, 808 drum machine, electric piano, female vocals\").\n    *   **Structural Analysis:** Describe the song's structure (e.g., \"Intro, Verse 1, Chorus, Verse 2, Chorus, Bridge, Guitar Solo, Outro\").\n    *   **Musical Elements:** Detail the tempo (estimate BPM), key (major/minor), rhythm, melody, and harmony.\n    *   **Mood & Atmosphere:** Describe the feeling the music evokes (e.g., \"energetic and uplifting,\" \"melancholic and introspective,\" \"suspenseful and tense\").\n\n*   **If [Environmental Soundscape]:**\n    *   **Location Identification:** Infer the physical location from the sounds (e.g., \"Busy downtown street corner during rush hour,\" \"Quiet forest with birdsong,\" \"Crowded indoor cafe\").\n    *   **Sound Source Catalog:** Systematically list and describe every distinct sound. Be specific about its characteristics and spatial position (e.g., \"Distant siren moving from left to right,\" \"Footsteps on wet pavement approaching,\" \"The clinking of ceramic mugs and a nearby espresso machine hiss\").\n\n**LAYER 3: ACOUSTIC ENVIRONMENT ANALYSIS**\nDescribe the \"room\" or space where the audio was recorded.\n*   **Background Noise (Noise Floor):** Identify any constant, low-level sounds (e.g., \"60Hz electrical hum,\" \"HVAC system running,\" \"computer fan,\" \"distant traffic rumble\").\n*   **Ambient Sounds:** Detail any intermittent, secondary sounds that are not part of the primary content (e.g., \"a distant dog bark,\" \"a cough from the speaker,\" \"a phone notification chime\").\n*   **Reverberation & Space:** Describe the acoustic properties of the space. Is it a \"dry\" sound (small, acoustically treated room) or a \"wet\" sound with a long decay (large, empty hall, church, or cave)?\n\n**LAYER 4: TECHNICAL PRODUCTION ANALYSIS**\nDeconstruct the audio file as a recording.\n*   **Recording Quality:** Describe the fidelity (e.g., \"high-fidelity studio recording,\" \"mid-quality phone voice memo,\" \"low-fidelity, compressed audio\").\n*   **Stereo Field:** Is the recording in mono or stereo? If stereo, describe the placement of sounds in the left-right field.\n*   **Dynamic Range:** Is the volume compressed and consistently loud, or is there a natural range between quiet and loud parts?\n*   **Artifacts & Imperfections:** Identify any technical flaws (e.g., \"audible clipping/distortion on peaks,\" \"digital compression artifacts,\" \"hiss from a low-quality microphone,\" \"plosives ('p' and 'b' sounds popping)\").\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a brief synthesis of all layers. What is the overall story, context, or purpose of this audio?\n*   **Example (Speech):** \"This is a voice command recorded by a user in a moving car, evidenced by the engine hum and road noise. The user sounds slightly rushed and is giving a direct instruction to the agent.\"\n*   **Example (Music):** \"This is a professionally produced instrumental track intended for a film score, designed to create a sense of mystery and anticipation.\"\n*   **Example (Environment):** \"This audio captures the ambient atmosphere of a public library, intended for relaxation or study.\"",
        "inputType": "binary",
        "options": {}
      },
      "id": "b4b638ed-5b5a-4468-b4a4-b7f27b808871",
      "name": "Analyze audio",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        1312,
        4864
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "message",
              "type": "string",
              "value": "={{ $('Descargar Media').item.json.data?.caption ? \"Captions: \" + $('Descargar Media').item.json.data.caption : \"\" }}\nFile name:{{ $('Descargar Media').item.json.data.fileName }}\nFile type:{{ $('Get Mime Type').item.json.fileTypeCategory }}\nExtracted data from file:\n{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27d98d0d-58b8-443d-9d34-f1d0fb9a4516",
      "name": "get_message (File message)",
      "type": "n8n-nodes-base.set",
      "position": [
        2144,
        5584
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "f765c4c8-d702-470b-b810-7f3004d9fa08",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1488,
        5168
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "message",
              "type": "string",
              "value": "=It was not possible to process the file.File type not supported."
            }
          ]
        },
        "options": {}
      },
      "id": "e502ef06-bca0-453a-8894-0affaff2fa3e",
      "name": "get_error_message",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        6800
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "pageTitle",
              "cssSelector": "title"
            },
            {
              "key": "metaDescription",
              "cssSelector": "meta[name=\"description\"]"
            },
            {
              "key": "fullBodyText",
              "cssSelector": "body",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "id": "9d472f84-1ef1-40cb-82e7-719fd7000fcb",
      "name": "HTML Extract Generic1",
      "type": "n8n-nodes-base.html",
      "position": [
        1312,
        5312
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get the first item from the input array.\nconst firstItem = items[0];\n\n// Create a new object that has a single key: \"data\".\n// The value of \"data\" will be the entire json object from the input.\n// This gathers all fields (First Name, Last Name, Age, etc.) dynamically.\nconst result = {\n  data: firstItem.json\n};\n\n// Return the newly structured object.\n// It will be outputted as a single item with a 'json' property\n// containing the 'data' object.\nreturn result;"
      },
      "id": "82f4508c-aca2-4b74-b7e7-61641c2449a2",
      "name": "Get ODS data",
      "type": "n8n-nodes-base.code",
      "position": [
        1488,
        5744
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8f16a0d-0273-41c9-89ad-14a9a21a4875",
      "name": "Normalize ODS",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        5744
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e940c6a8-f313-4ee5-aa4e-02dcc7168d44",
      "name": "Normalize CSV",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        5168
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4ab7227-9db9-4c74-aa17-80071ee0a7f0",
              "name": "data",
              "type": "string",
              "value": "=Page title:  {{ $json.pageTitle}}\nMeta description: {{ $json.metaDescription }}\nbody: {{ $json.fullBodyText }}"
            }
          ]
        },
        "options": {}
      },
      "id": "71f490ba-61a1-4737-875c-e1fdb3d15154",
      "name": "Normalize HTML",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        5312
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2c39585-31a4-48f1-ab2e-d127e55601b2",
      "name": "Normalize ICS",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        5456
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b58a311a-94f0-4098-a8a6-170c140bd8b3",
      "name": "Normalize JSON",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        5600
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "acd71229-d42f-465d-94bf-7dfb778703d1",
      "name": "Normalize PDF",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        5888
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b42370d0-8168-49e6-afd8-d46c90cf9241",
      "name": "Normalize RTF",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        6208
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b136b15b-bd61-4588-a38e-20cb4a5da56a",
      "name": "Normalize text file",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        6352
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61f3aba5-20af-4b05-bebd-4f30489d0700",
      "name": "Normalize XML",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        6496
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "id": "b88503f3-3acf-43ee-b44c-f9410ca75453",
      "name": "Extract from XML",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1312,
        6496
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1fc00f6e-ad2b-464b-b42f-9b5cc6b71e2b",
      "name": "Normalize XLSX",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        6640
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get the first item from the input array.\nconst firstItem = items[0];\n\n// Create a new object that has a single key: \"data\".\n// The value of \"data\" will be the entire json object from the input.\n// This gathers all fields (First Name, Last Name, Age, etc.) dynamically.\nconst result = {\n  data: firstItem.json\n};\n\n// Return the newly structured object.\n// It will be outputted as a single item with a 'json' property\n// containing the 'data' object.\nreturn result;"
      },
      "id": "74de89ed-af3f-47bb-9b9c-b994a316f9e3",
      "name": "Get RTF data",
      "type": "n8n-nodes-base.code",
      "position": [
        1488,
        6208
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get the first item from the input array.\nconst firstItem = items[0];\n\n// Create a new object that has a single key: \"data\".\n// The value of \"data\" will be the entire json object from the input.\n// This gathers all fields (First Name, Last Name, Age, etc.) dynamically.\nconst result = {\n  data: firstItem.json\n};\n\n// Return the newly structured object.\n// It will be outputted as a single item with a 'json' property\n// containing the 'data' object.\nreturn result;"
      },
      "id": "6f62da6c-32ba-4acc-8bea-4643a7fe3eba",
      "name": "Get RTF data1",
      "type": "n8n-nodes-base.code",
      "position": [
        1488,
        6640
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "333a436f-c087-4250-a181-40657874959b",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a3824f70-80fd-44c8-be70-e32cf6d2c26d",
      "name": "Text?",
      "type": "n8n-nodes-base.if",
      "position": [
        1488,
        5904
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash-lite",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "### IDENTITY & CORE MISSION\nYou are Codex, a world-class document analysis engine. Your sole purpose is to deconstruct any given PDF file into its structural, textual, visual, and metadata components, providing a single, comprehensive, and hyper-detailed textual description. Your analysis must be objective, exhaustive, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the PDF.\"\n- DO NOT use markdown formatting like headers or bolding unless specifically required for a table transcription.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every PDF file by following these five layers of analysis in order.\n\n**LAYER 1: DOCUMENT TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the document to determine the primary analysis mode. Categories include: [Invoice/Receipt], [Academic Paper/Report], [Marketing Brochure/Flyer], [Legal Contract], [Fillable Form], [Presentation Slides], [Book/Manual]. State the identified category at the beginning of your description. Example: \"Category: Invoice/Receipt.\"\n\n**LAYER 2: COMPREHENSIVE CONTENT EXTRACTION**\nThis is the core data extraction phase. Process the document page by page.\n\n*   **A. Verbatim Text Extraction & Structuring:**\n    *   Extract all textual content from the document.\n    *   Preserve the semantic structure. Do not output a single wall of text. Use line breaks to separate paragraphs, headings, and list items as they appear in the original document.\n    *   Prefix major sections with clear labels (e.g., \"HEADING:\", \"PARAGRAPH:\", \"LIST_ITEM:\").\n\n*   **B. Structured Data Analysis (Tables & Forms):**\n    *   **Table Extraction:** If any tables are present, identify them and transcribe their content into a machine-readable format like Markdown. Announce each table clearly.\n        **Format Example:**\n        `--- TABLE 1: PRODUCT DETAILS ---`\n        `| Product ID | Description      | Quantity | Unit Price | Total Price |`\n        `|------------|------------------|----------|------------|-------------|`\n        `| SKU-101    | Blue Widget      | 2        | $10.00     | $20.00      |`\n        `| SKU-203    | Red Gadget       | 5        | $5.50      | $27.50      |`\n        `--- END TABLE 1 ---`\n    *   **Form Field Identification:** If the document is a form, list all fillable fields and their labels (e.g., \"FORM_FIELD: Full Name\", \"FORM_FIELD: Date of Birth\", \"CHECKBOX: I agree to the terms\").\n\n*   **C. Visual Element Deconstruction:**\n    *   For every embedded image, chart, or significant graphic, provide a detailed description.\n    *   Announce each visual element with its page number and a label.\n    *   **Format Example:**\n        `--- VISUAL ELEMENT (Page 3): Bar Chart ---`\n        `Description: A vertical bar chart titled \"Quarterly Sales Growth\". The X-axis represents quarters Q1 to Q4. The Y-axis represents sales in millions. Q3 shows the highest sales at approximately $4.5M. The chart uses a blue and green color palette.`\n        `--- END VISUAL ---`\n\n**LAYER 3: DOCUMENT STRUCTURE & LAYOUT ANALYSIS**\nAnalyze the overall design and organization of the document.\n*   **Document Outline:** If there is a table of contents or clear hierarchical structure (e.g., Chapter 1, Section 1.1), reproduce it as a simple outline.\n*   **Layout & Typography:** Describe the visual presentation.\n    *   **Layout:** Note the number of columns, use of headers, footers, and page numbering.\n    *   **Typography:** Describe the primary font styles used (e.g., \"serif font for body text, sans-serif for headings\"), font sizes, and use of bolding or italics for emphasis.\n    *   **Color Scheme:** Identify the dominant colors used for text, backgrounds, and graphical elements.\n\n**LAYER 4: METADATA & FILE FORENSICS**\nExtract the non-visible, technical information embedded within the PDF file.\n*   **File Metadata:** List all available metadata fields.\n    *   `Title: [Extracted Title]`\n    *   `Author: [Extracted Author]`\n    *   `Subject: [Extracted Subject]`\n    *   `Keywords: [Extracted Keywords]`\n    *   `Creator Application: [e.g., Microsoft Word, Adobe InDesign CC]`\n    *   `PDF Producer: [e.g., Adobe PDF Library]`\n    *   `Creation Date: [Extracted Date]`\n    *   `Modification Date: [Extracted Date]`\n*   **File Properties:**\n    *   `Page Count: [Total number of pages]`\n    *   `Page Size: [e.g., 8.5 x 11 inches (US Letter), A4]`\n    *   `Text Status: [e.g., \"Native/Selectable Text\" or \"Image-based/Scanned Document\"]`\n    *   `Security: [e.g., \"No restrictions,\" \"Password protected,\" \"Printing not allowed\"]`\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a holistic synthesis of all layers. What is the document's primary purpose, intended audience, and key message?\n*   **Example (Invoice):** \"This is a standard commercial invoice generated by an automated accounting system. Its purpose is to bill a client for services rendered. The audience is the client's accounts payable department.\"\n*   **Example (Report):** \"This is a formal, professionally formatted annual report intended for company stakeholders. Its purpose is to present financial performance and strategic direction using a combination of detailed text, data tables, and illustrative charts.\"\n*   **Example (Brochure):** \"This is a visually-driven marketing brochure designed to attract new customers. It uses high-quality images, minimal text, and a vibrant color scheme to create an appealing brand image.\"",
        "inputType": "binary",
        "options": {}
      },
      "id": "3b1dc9af-f87b-48a9-ba64-c23460b43cc3",
      "name": "Analyze document",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        1488,
        6048
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b93984-e305-4c11-a856-5fa0bfaaaa79",
              "name": "data",
              "type": "string",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "34a65725-8005-446f-98da-4d6068a1eaf3",
      "name": "Normalize PDF (AI)",
      "type": "n8n-nodes-base.set",
      "position": [
        1648,
        6048
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "2188e2ae-bb96-44b1-baa6-9ac055fc7cda",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1312,
        6048
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb807b26-c415-42d2-9cef-707825d6fa82",
              "name": "message",
              "type": "string",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8877af77-2336-48f8-b6be-9f426df22e25",
      "name": "Normalize input",
      "type": "n8n-nodes-base.set",
      "position": [
        2640,
        4736
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "id": "a70cf6e8-1fff-4065-af6e-9d1f79c66324",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        640,
        5728
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "### IDENTITY & CORE MISSION\nYou are Scrutator, a world-class multimedia analysis engine. Your sole purpose is to deconstruct any given video file into its most fundamental visual, auditory, and temporal components, providing a single, comprehensive, and hyper-detailed textual description. Your analysis must be objective, exhaustive, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the video.\"\n- DO NOT use markdown formatting like headers or bolding.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every video file by following these five layers of analysis in order.\n\n**LAYER 1: TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the video to determine the primary analysis modes. Categories include: [User Instruction/Vlog], [Document Scan/Presentation], [Food/Cooking Demo], [Cinematic/Narrative Clip], [Event Recording], [Environmental Scene]. State the identified category at the beginning of your description. Example: \"Category: User Instruction/Vlog.\"\n\n**LAYER 2: DUAL-STREAM DECONSTRUCTION (VISUAL & AUDITORY)**\nAnalyze the visual and audio streams in parallel, noting their interplay.\n\n**A. VISUAL STREAM ANALYSIS:**\nApply the full image analysis protocol to the video's visual content. Describe how these elements **evolve or change throughout the video's duration**.\n*   **Primary Subject(s):** Identify and analyze the main subjects (e.g., a person, a plate of food, a document).\n    *   **If Food:** Identify the dish, all ingredients, cooking methods, and portion size. Describe any actions performed on the food (e.g., \"slicing,\" \"sautéing,\" \"plating\").\n    *   **If Document/Receipt:** State that a document is present and that a full OCR transcription will follow in the audio stream analysis if the user reads it, or in the temporal analysis if it's held up to the camera.\n    *   **If Person:** Describe demographics, appearance, clothing, and actions.\n*   **Background & Context:** Detail the environment, secondary objects, and their spatial relationships.\n\n**B. AUDITORY STREAM ANALYSIS:**\nApply the full audio analysis protocol to the video's soundtrack.\n*   **Primary Content:**\n    *   **If Human Speech:** Provide a **verbatim transcription** with speaker diarization (\"Speaker 1:\", \"Speaker 2:\"). Analyze each speaker's vocal profile, emotional tone, and pragmatic intent (e.g., \"The user's intent is to issue a direct command to the agent\").\n    *   **If Music:** Identify genre, instrumentation, and mood.\n    *   **If Environmental Sounds:** Catalog all distinct sound sources.\n*   **Acoustic Environment & Technical Quality:** Describe background noise, reverberation, and recording quality.\n\n**LAYER 3: TEMPORAL & MOTION ANALYSIS (THE NARRATIVE OF CHANGE)**\nThis is the most critical layer for video. Deconstruct the sequence of events over time.\n*   **Scene & Shot Log:** Create a chronological log of events. Use timestamps to denote significant changes in action, subject, or camera angle.\n    *   **Format Example:**\n        `[00:00-00:03] - Close-up shot of a hand holding a grocery receipt. The camera is slightly shaky.`\n        `[00:04-00:09] - The user (Speaker 1) begins reading the items from the receipt aloud. The camera pans down the list of items.`\n        `[00:10-00:12] - Cut to a wide shot of the kitchen counter, showing the grocery items mentioned.`\n        `[00:13-00:15] - The user points to a carton of orange juice and asks a question.`\n*   **Object & Subject Tracking:** Describe the movement and actions of the primary subjects. (e.g., \"The user walks from the left to the right of the frame, placing a milk carton on the table.\").\n*   **Camera Work:** Describe all camera movements (e.g., \"static tripod shot,\" \"handheld with noticeable shake,\" \"slow pan left,\" \"quick zoom-in on the product label\").\n*   **Editing & Post-Production:** Identify editing techniques. Describe the pacing (e.g., \"fast-paced with quick cuts,\" \"long, uninterrupted take\"), transitions (e.g., \"hard cut,\" \"fade to black,\" \"dissolve\"), and any on-screen graphics, text overlays, or subtitles.\n\n**LAYER 4: TECHNICAL FILE ANALYSIS**\nBriefly describe the technical characteristics of the video file itself.\n*   **Video Quality:** Infer the resolution and clarity (e.g., \"High-definition 1080p,\" \"Standard-definition 480p,\" \"low-resolution, heavily compressed\").\n*   **Frame Rate:** Describe the motion smoothness (e.g., \"smooth 30/60fps,\" \"choppy/low frame rate\").\n*   **Audio-Visual Sync:** Confirm if the audio and video are properly synchronized.\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a holistic synthesis of all layers. What is the overall story, context, and purpose of this video?\n*   **Example (User Instruction):** \"This is a user-generated instructional video, recorded on a smartphone. The user is providing a multi-modal command by both showing a receipt and verbally asking the agent to process specific items from it. The intent is direct and task-oriented.\"\n*   **Example (Cooking Demo):** \"This is a segment from a well-edited cooking tutorial. The combination of close-up shots, clear vocal instructions, and background music is designed to be educational and engaging.\"\n*   **Example (Event Recording):** \"This is an amateur, handheld recording of a live music performance in a small, crowded venue, capturing both the performance and the audience's reaction.\"",
        "inputType": "binary",
        "options": {}
      },
      "id": "4083d78a-775c-4085-97a8-710c51e8d0a5",
      "name": "Analyze video",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        1312,
        5024
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "data",
              "type": "string",
              "value": "=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6d3c8aed-82e3-4522-9788-91aa7389f160",
      "name": "get_message (Video)",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        5024
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "data",
              "type": "string",
              "value": "=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "52ca5378-0bfa-439d-849e-ea7151930686",
      "name": "get_message (Audio)",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        4864
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "data",
              "type": "string",
              "value": "=Media description: {{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0912e7ec-818f-4ccf-b29e-4fb01bf70660",
      "name": "get_message (Image)",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        4704
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  // --- IMPORTANTE ---\n  // Asumimos que el MIME type está en esta ruta.\n  // ¡Verifica que 'item.json.data.mimetype' es correcto para tus datos!\n  // Podría ser 'item.json.mimetype' o similar.\n  const mimetype = $('Descargar Media').first().json.data.mimetype || '';\n\n  let fileTypeCategory = 'other'; // Valor por defecto para tipos no reconocidos\n\n  // Usamos switch(true) para evaluar diferentes condiciones basadas en el mimetype\n  switch (true) {\n    // === Imágenes ===\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n\n    // === Audio ===\n    // Incluye mp3 ('audio/mpeg'), ogg, wav, etc.\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n\n    // === Video ===\n    // Incluye mp4, webm, mov ('video/quicktime'), etc.\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n\n    // === Documentos de Texto y Ofimática ===\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    \n    // Spreadsheets (Excel, ODS, etc.)\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n\n    // Word Documents\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    \n    // Archivos de texto plano (txt, md, log)\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n\n    case mimetype === 'text/html':\n      fileTypeCategory = 'html';\n      break;\n    \n    case mimetype === 'application/rtf':\n      fileTypeCategory = 'rtf';\n      break;\n\n    // === Datos Estructurados ===\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n\n    case mimetype === 'application/xml':\n    case mimetype === 'text/xml':\n      fileTypeCategory = 'xml';\n      break;\n\n    // === Otros ===\n    case mimetype === 'text/calendar': // para .ics\n      fileTypeCategory = 'ics';\n      break;\n  }\n\n  // Añadimos la nueva propiedad 'fileTypeCategory' al objeto json del item\n  item.json.fileTypeCategory = fileTypeCategory;\n  \n  // Añadimos el item modificado al array de resultados\n  results.push(item);\n}\n\n// Devolvemos el array con todos los items modificados\nreturn results;"
      },
      "id": "6a66a1b2-1eef-453e-ae79-ad1d806f6cd3",
      "name": "Get Mime Type",
      "type": "n8n-nodes-base.code",
      "position": [
        848,
        5728
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1919febf-c06b-41d1-a02c-1082f2e444e4",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "51250085-0cb5-4442-b711-d7ef71c3c927",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "886256b8-5fa1-470a-a161-24a3d9d28285",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "video"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f1aefe24-17fb-4bf8-84fb-949a6802b66e",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "csv"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b09d29b5-b263-4115-963d-d6879de78649",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "html"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "html"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2a7822f4-889b-41d3-8a1c-7f4405eacb42",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "ics"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ics"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f09cd376-96df-4f3d-9218-6a918715335a",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "json"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "json"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "1bf5c1f9-38a9-4bc5-8757-b85f98441579",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "ods"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ods"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4988d14f-4e3f-4494-96b0-a1a9d70a2787",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f5bc921e-c083-4b12-8167-86a24e39fe5c",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "rtf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "rtf"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "29251fca-c611-419c-85a2-a9e1ad6bd102",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "text file"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text file"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fd1cbb91-f3c6-4b20-91dc-2e490f77fe96",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "xml"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "xml"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "16fc2a80-c341-4a5d-9d50-a1856ffb5242",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.fileTypeCategory }}",
                    "rightValue": "spreadsheet"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "spreadsheet"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b45c9a72-3b1c-41b2-9caf-5ee10b5ebfcf",
      "name": "Media Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        1040,
        5536
      ],
      "typeVersion": 3.2,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash-lite",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "6ee06090-67f3-4514-8797-5bb62f136826",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        1312,
        4704
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "2178effc-f7d2-4a20-b0c5-499c89352877",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        960,
        2800
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f4cdb2c-9407-4783-83c6-4440faa74f00",
              "name": "reponse",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6387dd8e-69ed-46a1-b391-3ef1b95a70e4",
      "name": "Agent Response",
      "type": "n8n-nodes-base.set",
      "position": [
        7280,
        4512
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# INPUTS\n<RETRIEVED_CONTEXT>\n{{ $json.text }}\n</RETRIEVED_CONTEXT>\n\n<USER_MESSAGE>\n{{ $('Get Message').item.json.message }}\n</USER_MESSAGE>",
        "options": {
          "systemMessage": "=# ROLE\nYou are an intelligent Assistant capable of reasoning and answering complex queries.\n\n# INPUT DATA\nYou will receive two distinct inputs:\n1. <RETRIEVED_CONTEXT>: Factual background information provided by an internal memory system (NOT the user).\n2. <USER_MESSAGE>: The actual message sent by the user right now.\n\n# INSTRUCTIONS\n1. **Analyze User Intent:** Read <USER_MESSAGE> to understand what the user is asking or commenting on.\n2. **Consult Context:**\n   - If <RETRIEVED_CONTEXT> contains \"NO_CONTEXT\", ignore it completely and answer based on your general knowledge.\n   - If <RETRIEVED_CONTEXT> contains factual data (summaries, file contents, previous names), use this information as the absolute truth to construct your answer.\n3. **Synergy Check:** specifically look for extracted file data in the context. If the context says \"File name: X\" and \"Extracted data: Y\", treat \"Y\" as the content of the document the user is asking about.\n4. **Formulate Response:**\n   - Answer the <USER_MESSAGE> directly.\n   - **DETECT LANGUAGE:** Reply in the EXACT same language and tone as the <USER_MESSAGE>.\n   - Integrate the context naturally. Do NOT say \"According to the context...\" or \" The memory says...\". Just say the information as if you already knew it.\n\n# SAFETY & BEHAVIOR\n- If the Context contradicts the User Message regarding a fact (e.g., User says \"My name is X\" but Context proves \"Name is Y\"), politely correct or clarify based on the context.\n- Be helpful, concise, and professional.\n- Never reveal that you are receiving a context summary from another bot."
        }
      },
      "id": "46a48d70-bf20-47c8-b770-979e89eb34fa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        6976,
        4512
      ],
      "typeVersion": 3.1,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Chat_History>\n{{ $json.history }}\n</Chat_History>\n\n<Current_User_Input>\n{{ $('Get Message').item.json.message }}\n</Current_User_Input>",
        "messages": {
          "messageValues": [
            {
              "message": "=# SYSTEM ROLE\nYou are a \"Context Retrieval Processor\". You are a backend system, NOT a conversational assistant. You have NO personality.\n\n# INPUTS PROVIDED\n1. <CHAT_HISTORY>: Previous messages and structured file data (JSON, metadata, captions).\n2. <CURRENT_INPUT>: The latest message from the user.\n\n# CORE OBJECTIVE\nCompare the <CURRENT_INPUT> against the <CHAT_HISTORY>. Extract ONLY the factual information required to answer the current input.\n\n# PROCESSING RULES (Follow Strictly)\n\n1. **ANALYZE INTENT:** Read <CURRENT_INPUT>. Is the user asking a question, asking for a summary, or referencing a file?\n   - IF the input is just a greeting (e.g., \"Hola\", \"Hello\", \"Are you there?\") OR a generic compliment -> RETURN \"NO_CONTEXT\".\n   - IF the input requires information from the past -> PROCEED to Step 2.\n\n2. **DECODE STRUCTURED DATA:**\n   - Look for patterns like `File name:`, `Captions:`, and `Extracted data:`.\n   - **CRITICAL:** Connect the \"File name\" to its \"Extracted data\".\n   - *Example:* If history has \"File: invoice.pdf\" and \"Extracted: Total $50\", and user asks \"How much?\", you must extract: \"File invoice.pdf shows a total of $50\".\n\n3. **RESOLVE PRONOUNS:**\n   - If user asks \"What does **it** say?\" or \"Who is **he**?\", look in the <CHAT_HISTORY> to identify what \"it\" or \"he\" refers to. Extract that specific reference.\n\n4. **FILTERING:**\n   - Ignore polite conversation in history (e.g., \"Thank you\", \"Good morning\").\n   - Ignore metadata that is not requested (e.g., MIME types or raw variable names like `$json`) unless specifically asked for.\n\n# OUTPUT RULES\n- Output **ONLY** the facts.\n- Do NOT use conversational filler words (e.g., \"I found this...\", \"The context is...\").\n- Do NOT output markdown code blocks unless the extracted data is code.\n- If no relevant facts are found for the specific input -> RETURN \"NO_CONTEXT\".\n\n# FINAL RESPONSE\n(Output only the extracted facts or NO_CONTEXT)"
            }
          ]
        },
        "batching": {}
      },
      "id": "eb0d0e55-1d6d-41a3-bffd-2c5e3d2d31f3",
      "name": "Context Refiner",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        6576,
        4512
      ],
      "typeVersion": 1.7,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=Chats_{{ $('Global Variables').item.json.number }}",
        "messageData": "={{ $json.message_text.join('\\n') }}",
        "tail": true
      },
      "id": "47a4fe06-7a45-44fe-92bc-79cda433b549",
      "name": "Push to chat_history",
      "type": "n8n-nodes-base.redis",
      "position": [
        5808,
        4688
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=Chats_{{ $('Global Variables').item.json.number }}",
        "messageData": "=.",
        "tail": true
      },
      "id": "98c4bba6-775a-4d38-9c83-64b25bf83932",
      "name": "Push first message to chat_history",
      "type": "n8n-nodes-base.redis",
      "position": [
        5808,
        4880
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=Chats_{{  $('Global Variables').item.json.number }}",
        "options": {}
      },
      "id": "525f488e-5066-4c84-bd08-0959fdb3c33c",
      "name": "Get chat_history1",
      "type": "n8n-nodes-base.redis",
      "position": [
        4784,
        4560
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=Chats_{{ $('Global Variables').item.json.number }}",
        "messageData": "=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}",
        "tail": true
      },
      "id": "08497094-b7cd-4d03-8c0e-197360542870",
      "name": "Push message chat_history (User And Agent)",
      "type": "n8n-nodes-base.redis",
      "position": [
        7632,
        4512
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "chat_history",
          "cachedResultName": "chat_history"
        },
        "columns": {
          "value": {
            "message_text": "=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}",
            "user_whatsapp_number": "={{ $('Global Variables').item.json.number }}"
          },
          "schema": [
            {
              "id": "message_id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "message_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "user_whatsapp_number",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "user_whatsapp_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "message_text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "message_timestamp",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "message_timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "92b3ffab-fb04-4575-855a-cb1ab75adb57",
      "name": "Add Messages to chat_history (User And Agent)",
      "type": "n8n-nodes-base.postgres",
      "position": [
        7840,
        4512
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "UAEEpmIpRhtcQtTq",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Name"
            },
            {
              "name": "Number"
            },
            {
              "name": "ID"
            }
          ]
        }
      },
      "id": "a23a94ca-0c81-48d5-bace-738af244c867",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1008,
        3344
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "YRqVfB8oZ54SRjUC",
          "cachedResultUrl": "/workflow/YRqVfB8oZ54SRjUC",
          "cachedResultName": "Mentour AI copy"
        },
        "workflowInputs": {
          "value": {
            "ID": "={{ $('Webhook').item.json.body.data.key.id }}",
            "Name": "={{ $('Webhook').item.json.body.instance }}",
            "Number": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "6e538c6a-1865-4784-a565-dac1ab16545e",
      "name": "Parallel Writing status",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1104,
        3968
      ],
      "typeVersion": 1.3,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "id": "444d3835-f5d1-43dd-a7d1-7b9a2ada6610",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        6976,
        4704
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "eb8e098b-7c6b-4cde-bae9-fe4143122bb6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1248,
        3520
      ],
      "webhookId": "65187612-7e5b-4a76-8465-7bd694e3e172",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "18946671-190b-43d9-a88f-810184127ed2",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message_text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1920d4a8-78c2-41f1-8179-a912b43d38b9",
      "name": "chat_history in DataBase?",
      "type": "n8n-nodes-base.if",
      "position": [
        5600,
        4784
      ],
      "typeVersion": 2.3,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 1. Configuración de la Base de Datos\n\nCrea la tabla `chat_history` en PostgreSQL. Ejecuta este nodo manualmente **una sola vez** antes de activar el flujo de trabajo.",
        "height": 320,
        "width": 512,
        "color": 7
      },
      "id": "3f6f770b-3b44-4675-b538-33ae53d39597",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        2672
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 2. Gestión de UX en paralelo\nGestiona la experiencia del usuario (Acuses de recibo, estado de \"Escribiendo...\") en paralelo mediante un sub-flujo de trabajo para evitar añadir latencia a la lógica principal de procesamiento de IA.",
        "height": 688,
        "width": 832,
        "color": 7
      },
      "id": "4b6f4dff-5454-407f-be33-4bd779f0b381",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        3040
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 3. Webhook y Configuración\nRecibe la carga útil (payload) de la Evolution API y define las variables globales (Tiempo de espera del búfer, duración de la caché, límite del historial).",
        "height": 752,
        "width": 1440,
        "color": 7
      },
      "id": "bd72d726-84ed-4434-95b7-173b24c82ca0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        3776
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 4. Normalización de Medios\nDetecta tipos de archivos multimedia (Imágenes, Audio, Documentos) y los descarga o convierte a un formato compatible con el Agente de IA.",
        "height": 2448,
        "width": 1744,
        "color": 7
      },
      "id": "9e9ea3aa-852a-432c-bc26-ee13552f8dab",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        4544
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 5. Búfer de Entrada Inteligente\nUtiliza Redis para:\n1. Agrupar **archivos de álbum** en una sola entrada.\n2. Controlar el flujo (**Debounce**) de los **mensajes de texto** (espera X segundos) para evitar respuestas fragmentadas de la IA.",
        "height": 1072,
        "width": 2080,
        "color": 7
      },
      "id": "3ddc5983-ec8a-496b-b21d-d02cac687e9b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        4192
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 6. Recuperación de Memoria Híbrida\nEstrategia de obtención optimizada: primero consulta **Redis** (caché rápida) para el historial reciente. Si está vacío, recurre a **PostgreSQL** (almacenamiento permanente).",
        "height": 720,
        "width": 1600,
        "color": 7
      },
      "id": "4dc66b66-9a03-43a5-ad23-1dffd23659b8",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4720,
        4384
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 7. Refinamiento de contexto y generación\n1. **Agente Refinador:** Resume el historial del chat para ahorrar tokens y reducir la degradación del contexto.\n2. **Agente Principal:** Genera la respuesta final.\n3. **Sincronización:** Guarda la interacción tanto en PostgreSQL como en el búfer de Redis.",
        "height": 608,
        "width": 1600,
        "color": 7
      },
      "id": "163ace07-b710-43fb-a754-c5ed15556a83",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6448,
        4368
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 8. Gestor del ciclo de vida de la caché\nMantiene la conversación activa en Redis durante una duración específica (por ejemplo, 300 s) después del último mensaje para garantizar una recuperación de alta velocidad.",
        "height": 640,
        "width": 1184,
        "color": 7
      },
      "id": "fb24f4eb-c334-4aa1-b247-c8a72cf1d247",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8128,
        4368
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## ⚠️ Configuración principal\nControla la lógica de memoria y búfer aquí:\n\n* **wait_buffer**: La ventana de agrupación (en segundos). El flujo de trabajo espera este tiempo por mensajes de texto subsiguientes para agruparlos en un único prompt de IA.\n* **wait_conversation**: TTL de Redis (en segundos). Tiempo que la conversación activa permanece en la \"Caché Caliente\" (Hot Cache) después del último mensaje.\n* **max_chat_history**: El límite estricto de mensajes pasados a recuperar de PostgreSQL (Almacenamiento en Frío / Cold Storage) cuando la caché está vacía.",
        "height": 464,
        "width": 400,
        "color": 3
      },
      "id": "52b4fc49-49bc-4fc3-a231-8377cd367344",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        3904
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Agente Avanzado de Evolution API con Búfer en Redis y Refinamiento de Contexto\nEsta plantilla lista para producción construye un chatbot de WhatsApp de alto rendimiento utilizando Evolution API. Resuelve problemas comunes de los bots de IA —latencia, mensajes fragmentados y costos de tokens— mediante la implementación de una arquitectura de memoria híbrida (Redis + PostgreSQL) y un flujo de trabajo de IA de varias etapas.\n\n### Cómo funciona\n1. **Ingestión en paralelo:** El flujo de trabajo se activa con nuevos mensajes a través de Evolution API. Una rama paralela gestiona inmediatamente el estado \"escribiendo...\" y los acuses de recibo para optimizar la latencia percibida.\n2. **Búfer inteligente:** Los mensajes entrantes se dirigen a búferes de Redis. El sistema distingue entre Álbumes de Medios (esperando todos los archivos) y Textos Rápidos (agrupando entradas durante 5 segundos) para consolidar la intención del usuario en un solo prompt.\n3. **Recuperación de memoria híbrida:** El historial de chat se obtiene de Redis (caché activa) para mayor velocidad. Si la caché expira, el sistema recurre a PostgreSQL (almacenamiento persistente).\n4. **Optimización de contexto:** Un modelo rápido de \"Refinamiento de Contexto\" destila el historial del chat, pasando solo el contexto relevante al Agente Principal. Esto evita la \"degradación del contexto\" y reduce los costos de tokens.\n5. **Ejecución y sincronización:** El Agente Principal genera la respuesta. Finalmente, la conversación se guarda en PostgreSQL y se actualiza en la caché de Redis.\n\n### Configuración\n- **Instalar el nodo:** Ve a Configuración > Nodos de la Comunidad en n8n e instala `n8n-nodes-evolution-api`.\n- **Credenciales:** Configura las credenciales para Redis, PostgreSQL y tu proveedor de IA (ej. OpenAI/Gemini).\n- **Base de datos:** Ejecuta el nodo \"Create Table\" una vez para inicializar la tabla `chat_history` en PostgreSQL.\n- **Evolution API:** Configura tu `instanceName` y `apikey` en el nodo Webhook.\n- **Parámetros:** Ajusta los valores en el nodo \"Global Variables\" (Tiempo de espera del búfer, TTL de la caché, Límite de historial).\n- **Modelos:** Selecciona un modelo rápido para el Refinador de Contexto y un modelo con mayor capacidad para el Agente Principal.\n",
        "height": 1166,
        "width": 388
      },
      "id": "99b522bd-49bf-4041-928c-91660c46c4cc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        2672
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// cleanAnswer – run once per item\nlet txt = $('AI Agent1').first().json.output || '';\n\n// 1. Remove bold / italic / strike markers\ntxt = txt.replace(/[*_~]+/g, '');\n\n// 2. Convert [Texto](https://url) → Texto https://url\ntxt = txt.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, '$1 $2');\n\n// 3. Collapse 3+ blank lines\ntxt = txt.replace(/\\n{3,}/g, '\\n\\n').trim();\n\n// 4. Remove the unwanted source-reference preamble\ntxt = txt.replace(/^.*?based on the document you provided[,:]?\\s*/i, '');\n\nreturn [{ json: { answer: txt } }];\n"
      },
      "id": "a2c7fe49-c0eb-4a3e-8bfd-e344d45fdcbd",
      "name": "cleanAnswer",
      "type": "n8n-nodes-base.code",
      "position": [
        2592,
        2048
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// within24h?  – run once per item\n// Meta (WhatsApp) timestamp arrives as seconds since epoch\nconst lastTs = Number($('when message received').first().json.messages[0].timestamp) * 1000;   // → ms\nconst withinWindow = Date.now() - lastTs < 24 * 60 * 60 * 1000;\n\nreturn [{ json: { withinWindow, answer: $json.answer, userId: $json.userId } }];"
      },
      "id": "1c235008-9477-497b-a2d5-c562be6a212e",
      "name": "24-hour window check",
      "type": "n8n-nodes-base.code",
      "position": [
        2160,
        2144
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d33e218e-a49a-49ed-9c6b-55b9ea0b0dbb",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.withinWindow }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ff0261e4-cd8a-4afa-b0bc-974149486bf3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2368,
        2144
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "instructions": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "codeGeneratedForPrompt": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "jsCode": "const googleDocs = $input.all().map((item) => item.json);\nconst whatsappMessages = $(\"when message received\")\n  .all()\n  .map((item) => item.json);\n\nconst date = new Date();\nconst formattedDate = `${date.getMonth() + 1} ${date.getDate()}, ${date.getFullYear()}`;\n\nconst docText = googleDocs[0].content.split(\"\\n\").join(\" \");\n\nconst body = whatsappMessages[0].messages[0].text.body;\n\nconst finalPrompt = `Today's date is: ${formattedDate}\\n\\n${docText}\\n\\nUser's question:\\n${body}`;\n\nreturn { finalPrompt };\n"
      },
      "id": "c607e99b-5662-4356-9473-5a991a3a97c8",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.aiTransform",
      "position": [
        1104,
        1808
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Ub8QIhGPOm1G4ylaM48iMAous1zvBO3YDl-38AKDuFw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ub8QIhGPOm1G4ylaM48iMAous1zvBO3YDl-38AKDuFw/edit?usp=drivesdk",
          "cachedResultName": "Chat Logs"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ub8QIhGPOm1G4ylaM48iMAous1zvBO3YDl-38AKDuFw/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "User": "={{ $('when message received').item.json.messages[0].from }}",
            "Message": "={{ $('when message received').item.json.messages[0].text.body }}",
            "Response": "={{ $('AI Agent1').item.json.output }}",
            "Timestamp": "={{ $json.currentDate }}"
          },
          "schema": [
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "User",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 5",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 5",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 6",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 6",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 7",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 7",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 8",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 8",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 9",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 9",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 10",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 10",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 11",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 11",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 12",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 12",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 13",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 13",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 14",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 14",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 15",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 15",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 16",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 16",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 17",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 17",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 18",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 18",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 19",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 19",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 20",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 20",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 21",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 21",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 22",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 22",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 23",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 23",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 24",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 24",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 25",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 25",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 26",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 26",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Timestamp"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3b4e6b17-82f0-4924-bdcf-a02a35c7ecfd",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1936,
        2144
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sOQtDy7JgVflNgDq",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('when message received').item.json.contacts[0].wa_id }}"
      },
      "id": "6067d6c2-4f69-49dc-b3d1-acb302464c85",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1280,
        2192
      ],
      "typeVersion": 1.3,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.finalPrompt }}\n\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el Asistente Virtual de Admisiones del Instituto. Tu objetivo es ayudar a los interesados con información precisa basada exclusivamente en el contexto proporcionado.\n\nReglas de oro:\n\nSi la respuesta no está en el texto del Doc, di amablemente: 'Lo siento, no tengo esa información específica, pero puedo comunicarte con un asesor humano'.\n\nSé amable, profesional y usa emojis ocasionalmente para parecer cercano.\n\nResponde siempre de forma concisa (máximo 3 párrafos).\n\nSi el usuario pregunta por fechas, recuerda que hoy es: {{ $json.todayDate }}"
        }
      },
      "id": "f7753867-8cae-4e97-955d-13755195f80e",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "maxTries": 5,
      "position": [
        1312,
        1808
      ],
      "retryOnFail": false,
      "typeVersion": 1.7,
      "alwaysOutputData": true,
      "waitBetweenTries": null,
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "0b6576ef-d4b7-4cb3-b55d-94f56a798bd2",
      "name": "Google Gemini Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1280,
        2032
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asistente de IA Inteligente para WhatsApp usando Google Docs\n\n**Lo que hace:**\nResponde preguntas de WhatsApp al instante utilizando el conocimiento de documentos internos. No requiere entrenamiento; solo actualiza el documento.\n\n* Lee un Google Doc en vivo\n* Recibe mensajes de WhatsApp\n* Crea el prompt de IA usando la fecha de hoy + el mensaje + el documento\n* Utiliza OpenAI/Gemini para generar una respuesta\n* Envía la respuesta de vuelta por WhatsApp\n\n**Requisitos previos:**\n* Cuenta de WhatsApp Business Cloud API\n* Google Doc con el contenido de tu negocio\n* Clave API de OpenAI o Gemini\n* Puedes configurar la memoria de Postgres usando el siguiente enlace: [https://www.youtube.com/watch?v=JjBofKJnYIU](https://www.youtube.com/watch?v=JjBofKJnYIU)\n\n**Configuración:**\n1. Pega el ID de tu Google Doc en el nodo de Docs\n2. Conecta la WhatsApp Cloud API (Meta)\n3. Mapea el campo del mensaje\n4. Conecta OpenAI o Gemini\n5. Publica y prueba con un mensaje real\n",
        "height": 988
      },
      "id": "5506fa48-f9e4-442a-bada-6d0343c97acb",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        1504
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Ub8QIhGPOm1G4ylaM48iMAous1zvBO3YDl-38AKDuFw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ub8QIhGPOm1G4ylaM48iMAous1zvBO3YDl-38AKDuFw/edit?usp=drivesdk",
          "cachedResultName": "Chat Logs"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ub8QIhGPOm1G4ylaM48iMAous1zvBO3YDl-38AKDuFw/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "User": "={{ $('when message received').item.json.messages[0].from }}",
            "Message": "={{ $('when message received').item.json.messages[0].text.body }}",
            "Response": "={{ $('AI Agent1').item.json.output }}",
            "Timestamp": "={{ $json.currentDate }}"
          },
          "schema": [
            {
              "id": "Timestamp",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "User",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 5",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 5",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 6",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 6",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 7",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 7",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 8",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 8",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 9",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 9",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 10",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 10",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 11",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 11",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 12",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 12",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 13",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 13",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 14",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 14",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 15",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 15",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 16",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 16",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 17",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 17",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 18",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 18",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 19",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 19",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 20",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 20",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 21",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 21",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 22",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 22",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 23",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 23",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 24",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 24",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 25",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 25",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 26",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Column 26",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Timestamp"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c409bc0e-cc83-443d-b87c-cb53181e7ea7",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2464,
        -320
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sOQtDy7JgVflNgDq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=1HONZuRF1EKKx3dyNN4ba6zkxltEtb8dcm-LUFmHZr4c"
      },
      "id": "5c7e58fd-aee7-41b0-ba7a-82940e2e55c6",
      "name": "company's knowledge",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        896,
        2144
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "j50TQfB00mxM97CS",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/admisiones",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1072,
        368
      ],
      "id": "4596d03d-07f8-4d7e-8139-084c3607fde9",
      "name": "Trigger - flujo",
      "webhookId": "313c31ec-8fb3-4c07-a350-fe4bfc857a04"
    },
    {
      "parameters": {
        "resource": "events-api",
        "instanceName": "bot_prueba",
        "webhookUrl": "http://n8n-n8n-1:5678/webhook-test/admisiones",
        "webhookEvents": [
          "MESSAGES_UPSERT",
          "CHATS_UPSERT"
        ]
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -176,
        384
      ],
      "id": "c54cb2a6-5983-4998-b887-a1fd2f280ed6",
      "name": "Trigger - Whatsapp",
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=1HONZuRF1EKKx3dyNN4ba6zkxltEtb8dcm-LUFmHZr4c"
      },
      "id": "24bc0b5f-0ecc-40b1-9257-8c1f7a47165f",
      "name": "CONOCIMIENTO - IA - CONTEXTO",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        3328,
        288
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "j50TQfB00mxM97CS",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "instructions": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "codeGeneratedForPrompt": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "jsCode": "const googleDocs = $input.all().map((item) => item.json);\nconst whatsappMessages = $(\"when message received\")\n  .all()\n  .map((item) => item.json);\n\nconst date = new Date();\nconst formattedDate = `${date.getMonth() + 1} ${date.getDate()}, ${date.getFullYear()}`;\n\nconst docText = googleDocs[0].content.split(\"\\n\").join(\" \");\n\nconst body = whatsappMessages[0].messages[0].text.body;\n\nconst finalPrompt = `Today's date is: ${formattedDate}\\n\\n${docText}\\n\\nUser's question:\\n${body}`;\n\nreturn { finalPrompt };\n"
      },
      "id": "0e44cf2d-4e4f-405f-a99e-09ed5df29dbe",
      "name": "Prepare Prompt1",
      "type": "n8n-nodes-base.aiTransform",
      "position": [
        3552,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('when message received').item.json.contacts[0].wa_id }}"
      },
      "id": "c4882860-cc0e-443c-bda7-6e2348899b61",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3824,
        496
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.finalPrompt }}\n\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres el Asistente Virtual de Admisiones del Instituto. Tu objetivo es ayudar a los interesados con información precisa basada exclusivamente en el contexto proporcionado.\n\nReglas de oro:\n\nSi la respuesta no está en el texto del Doc, di amablemente: 'Lo siento, no tengo esa información específica, pero puedo comunicarte con un asesor humano'.\n\nSé amable, profesional y usa emojis ocasionalmente para parecer cercano.\n\nResponde siempre de forma concisa (máximo 3 párrafos).\n\nSi el usuario pregunta por fechas, recuerda que hoy es: {{ $json.todayDate }}"
        }
      },
      "id": "beca5777-ee4c-433c-ba82-8935d04c2531",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "maxTries": 5,
      "position": [
        3776,
        288
      ],
      "retryOnFail": false,
      "typeVersion": 1.7,
      "alwaysOutputData": true,
      "waitBetweenTries": null
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "df98512f-a6e7-4026-92f3-df4f0c69cc16",
      "name": "Google Gemini Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3696,
        448
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "v5veYFkh6abaH32w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📥  Receptor de eventos de WhatApp:\n**INPUT**: \"Escucha\" mensajes recibidos y conversaciones de WhatsApp (a través de EvolutionApi). \n**OUTPUT**: json con mensajes y conversaciones (del número preconfigurado).",
        "height": 320,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        208
      ],
      "id": "373eaf28-63ba-4ff7-a186-9530772f24a4",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## 🗃️ Memoria.\n",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        -368
      ],
      "id": "7d8c9e57-69ba-4d50-bef4-3b7093609c3a",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## 🧠 LOGICA \n",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1728,
        -368
      ],
      "id": "20a8405e-76da-420e-8235-1376366983a5",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## 📋 logs",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -368
      ],
      "id": "64dabb14-782b-4ea2-b2f3-d53e7f0659b3",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## 🔒 SEGURIDAD\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        -368
      ],
      "id": "6a1f58a9-85ef-4363-aa61-d96a3eebbe7b",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## 🤔 IA: GEMINI, ANALISIS",
        "height": 400,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        240
      ],
      "id": "4db97dd9-123b-4208-94ad-50675697e180",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## 👥SEGUIMIENTO DE USUARIOS\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        -368
      ],
      "id": "f4809a65-1d26-4883-9cc7-b789634550d9",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68a762f8-fd79-4a74-aea1-a3e7d4e4f888",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "2dbcebc2-d0d3-4d25-9335-eff32c9205ab",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "5ec9c607-1b6d-4240-92ee-44e49d2db830",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "044e2faf-d7c6-468c-ae44-02e1a70e3808",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "6f89f77c-28e6-4e77-b08b-d40199b24e4c",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "9bbfa7e3-9d59-42ee-83bf-5b9513ee4155",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "35e9b2e8-3fed-4c85-bd86-d13353ab6ab5",
              "name": "source",
              "value": "={{ $json.body.data.source }}",
              "type": "string"
            },
            {
              "id": "f9e8292c-8f2f-4abb-bede-13ab8d30c6ec",
              "name": "timestramp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "c734cc4d-6444-45e0-beb0-8f48cde6b1c1",
              "name": "sender",
              "value": "={{ $json.body.sender.split('@')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        496
      ],
      "id": "1490e23b-2a92-484e-a3be-3b2f4d8479fc",
      "name": "Normalizar campos"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.remoteJid.split('@')[0] }}",
        "messageText": "={{ $json.respuesta }}  1️⃣ {{ $json.botones.split('|')[0] }} 2️⃣ {{ $json.botones.split('|')[1] }} 3️⃣ {{ $json.botones.split('|')[2] }} ",
        "options_message": {}
      },
      "id": "dc0589b4-c172-4807-9531-0bdc093d357a",
      "name": "Respuesta de WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        2848,
        720
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "942c6359-0967-4824-ac0e-a02d47540131",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "conversation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        448
      ],
      "id": "d8580963-ee1a-4e9b-ab7e-9274e0607a70",
      "name": "Es texto?"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3072,
        448
      ],
      "id": "da8ddb78-36f2-443f-84ff-bee16d7b486f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "UAEEpmIpRhtcQtTq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10gXpOlRpqatmidAUsX5n2I0xMsa9IHZjaO3FyhJ9W3U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "paso",
              "lookupValue": "1"
            },
            {
              "lookupColumn": "trigger",
              "lookupValue": "={{ $json.conversation }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        384
      ],
      "id": "981385c5-c06e-4767-843e-3e713fc32a4d",
      "name": "SHEETS - CONVERSACION",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sOQtDy7JgVflNgDq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const botonesStr = item.json.botones || \"\";\n\n  const botonesLista = botonesStr\n    .split(\"|\")\n    .map(btn => btn.trim())\n    .filter(btn => btn.length > 0);\n\n  const botonesParseados = botonesLista.map((btn, index) => {\n    return {\n      tipo: \"Resposta\",\n      texto: btn,\n      id: \"btn_\" + index\n    };\n  });\n\n  item.json.botonesParseados = botonesParseados;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        496
      ],
      "id": "ad5f35de-f3c0-495c-9539-5763fce26d24",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15wo5fYtM8ltrwW8IV4Gj3I3KZsZImUXs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4080,
        384
      ],
      "id": "2381ea55-cc9e-4183-9458-5733874b4ac1",
      "name": "REGISTROS - ADMISION",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sOQtDy7JgVflNgDq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2560,
        624
      ],
      "id": "55db2b8e-7621-43ad-872f-656efb7bcdf5",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2944,
        96
      ],
      "id": "642ec2ab-d1b4-4e6c-b5e7-b5875a1ef28a",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.body.instance }}",
        "remoteJid": "={{ $json.body.data.key.remoteJid }}",
        "messageText": "⚠️Por favor, usá solo texto",
        "options_message": {}
      },
      "id": "3a3a4a0c-aec5-47a1-aad5-83bac1e4ce14",
      "name": "ERROR - SOLO TEXTO",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        1392,
        688
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "GYxK8xzGxtcYWw9a",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2432,
        320
      ],
      "id": "f82b5b7e-d05a-42b8-b1fe-dafd90db3e6e",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "942c6359-0967-4824-ac0e-a02d47540131",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2080,
        176
      ],
      "id": "ac547c63-1f7c-4615-ba67-32c00c00eda7",
      "name": "Existe registro?"
    },
    {
      "parameters": {
        "operation": "get",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1888,
        272
      ],
      "id": "65815e32-b027-40aa-bff7-231fecba9250",
      "name": "GET - PASO ACTUAL",
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2720,
        624
      ],
      "id": "4ddd9974-1bf3-411e-9117-41a92f0ea9e3",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2848,
        288
      ],
      "id": "dca59356-7893-4b60-af71-d77f137cfdac",
      "name": "GET - PASO ACTUAL1",
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2960,
        624
      ],
      "id": "d96948a7-8847-40ce-9d57-c31de792c5d6",
      "name": "Redis6",
      "credentials": {
        "redis": {
          "id": "gT3SAjiDUQg8TMPY",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "federico.neuman@est.edu.ar",
        "subject": "Test",
        "message": "Este es un mensajes de prueba",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4288,
        400
      ],
      "id": "3b565dff-2c5d-4f3c-974e-366ad9861df7",
      "name": "Send a message",
      "webhookId": "0f6c8fa8-7a72-4e42-8fbc-26886f6ceecf",
      "credentials": {
        "gmailOAuth2": {
          "id": "6Xyix7SGFuWzkyB9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Alertas\n",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4240,
        352
      ],
      "id": "f8ef9ec5-2cfb-4896-b393-b5bba36157ea",
      "name": "Sticky Note18"
    }
  ],
  "pinData": {
    "SHEETS - CONVERSACION": [
      {
        "json": {
          "row_number": 2,
          "paso": 1,
          "trigger": "START",
          "respuesta": "¡Hola! Gracias por contactarte con ORT. ¿Te gustaría agendar una visita guiada para conocernos?",
          "botones": "Sí, quiero visitar|Más información|Admisión",
          "siguiente_paso": 2,
          "tipo": "botones",
          "capturar_datos": "no"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Writting...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text?": {
      "main": [
        [
          {
            "node": "Normalize PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Album?": {
      "main": [
        [
          {
            "node": "Push Media to Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push to Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Global Variables",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parallel Writing status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Normalize CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed?": {
      "main": [
        [
          {
            "node": "Delete Media Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Type": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML Extract Generic1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from ICS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from ODS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Extract from RTF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_error_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Get chat_history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Route": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait For User Other Fast Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ODS data": {
      "main": [
        [
          {
            "node": "Normalize ODS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RTF data": {
      "main": [
        [
          {
            "node": "Normalize RTF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "get_message (text)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push to Buffer (AlbumGroup)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open session": {
      "main": [
        []
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "get_message (Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "get_message (Audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "get_message (Video)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer": {
      "main": [
        [
          {
            "node": "Normalize Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mime Type": {
      "main": [
        [
          {
            "node": "Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RTF data1": {
      "main": [
        [
          {
            "node": "Normalize XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize CSV": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize ICS": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize ODS": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize PDF": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RTF": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize XML": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Messages": {
      "main": [
        []
      ]
    },
    "Send Response": {
      "main": [
        [
          {
            "node": "Push message chat_history (User And Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HTML": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize JSON": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize XLSX": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Buffer": {
      "main": [
        [
          {
            "node": "Get From Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Refiner": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Get Mime Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Media": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get From Buffer": {
      "main": [
        [
          {
            "node": "Buffer Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Check AlbumGroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Normalize PDF (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AlbumGroup": {
      "main": [
        [
          {
            "node": "Album?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from ICS": {
      "main": [
        [
          {
            "node": "Normalize ICS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from ODS": {
      "main": [
        [
          {
            "node": "Get ODS data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from RTF": {
      "main": [
        [
          {
            "node": "Get RTF data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from XML": {
      "main": [
        [
          {
            "node": "Normalize XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat_history": {
      "main": [
        [
          {
            "node": "Context Refiner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Variables": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Buffer": {
      "main": [
        [
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Normalize text file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from JSON": {
      "main": [
        [
          {
            "node": "Normalize JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from XLSX": {
      "main": [
        [
          {
            "node": "Get RTF data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat_history1": {
      "main": [
        [
          {
            "node": "chat_history In Buffer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_error_message": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize PDF (AI)": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (text)": {
      "main": [
        [
          {
            "node": "Push to Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Media Buffer": {
      "main": [
        [
          {
            "node": "Normalize MediaGroup Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize text file": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (Audio)": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (Image)": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (Video)": {
      "main": [
        [
          {
            "node": "get_message (File message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Media to Buffer": {
      "main": [
        [
          {
            "node": "Get Album From Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to chat_history": {
      "main": [
        [
          {
            "node": "Get chat_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate all Messges": {
      "main": [
        [
          {
            "node": "chat_history in DataBase?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Album From Buffer": {
      "main": [
        [
          {
            "node": "Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract Generic1": {
      "main": [
        [
          {
            "node": "Normalize HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat_history In Buffer?": {
      "main": [
        [
          {
            "node": "Get chat_history",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get chat_history From DataBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Context Refiner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chat_history in DataBase?": {
      "main": [
        [
          {
            "node": "Push to chat_history",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push first message to chat_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (File message)": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer (chat_history) Route": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Buffer (chat_history)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait For end of conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize MediaGroup Buffer": {
      "main": [
        [
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer (chat_history)": {
      "main": [
        [
          {
            "node": "Delete Buffer (chat_history)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For end of conversation": {
      "main": [
        [
          {
            "node": "Get From Buffer(chat_history)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get From Buffer(chat_history)": {
      "main": [
        [
          {
            "node": "Buffer (chat_history) Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Buffer (chat_history)": {
      "main": [
        [
          {
            "node": "Get From Buffer(chat_history)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat_history From DataBase": {
      "main": [
        [
          {
            "node": "Aggregate all Messges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For User Other Fast Message": {
      "main": [
        [
          {
            "node": "Get From Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Open session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push first message to chat_history": {
      "main": [
        [
          {
            "node": "Get chat_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Table chat_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push message chat_history (User And Agent)": {
      "main": [
        [
          {
            "node": "Add Messages to chat_history (User And Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Messages to chat_history (User And Agent)": {
      "main": [
        [
          {
            "node": "Push to Buffer (chat_history)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleanAnswer": {
      "main": [
        []
      ]
    },
    "24-hour window check": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "cleanAnswer",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "24-hour window check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "company's knowledge": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger - flujo": {
      "main": [
        [
          {
            "node": "Es texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CONOCIMIENTO - IA - CONTEXTO": {
      "main": [
        [
          {
            "node": "Prepare Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar campos": {
      "main": [
        [
          {
            "node": "GET - PASO ACTUAL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Es texto?": {
      "main": [
        [
          {
            "node": "Normalizar campos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR - SOLO TEXTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SHEETS - CONVERSACION": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta de WhatsApp": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Existe registro?": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SHEETS - CONVERSACION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "GET - PASO ACTUAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET - PASO ACTUAL": {
      "main": [
        [
          {
            "node": "Existe registro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Respuesta de WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        []
      ]
    },
    "REGISTROS - ADMISION": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET - PASO ACTUAL1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "REGISTROS - ADMISION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1b3987bf-0bee-456d-b2ad-2802fd199cef",
  "meta": {
    "templateId": "13407",
    "templateCredsSetupCompleted": true,
    "instanceId": "d54c83aaea5af29e37853a14c2195aa7f83585e33652cea6fcddaa7beae50184"
  },
  "id": "Ut0Fk727uoeg4xTl",
  "tags": []
}